/* Allgemeines Styling */
body {
    display: flex;
    justify-content: space-between; /* Teilt den Bildschirm in zwei Hälften */
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    overflow: hidden; /* Kein globales Scrollen */
    text-align: center; /* Text zentrieren */
    flex-direction: column; /* Elemente werden von oben nach unten gestapelt */
    box-sizing: border-box; /* Berücksichtigt Rahmen und Padding in der Breite */
}

/* Stil für das Datum */
#date {
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-shadow: 3px 3px 5px black;
    filter: blur(0.8px);
    text-align: center;
}

/* Stil für die Uhrzeit */
#time {
    color: white;
    font-weight: normal;
    font-family: Arial, sans-serif;
    text-shadow: 3px 3px 5px black;
    filter: blur(0.8px);
    text-align: center;
}

.circle {
    position: fixed;
    top: 25px;
    right: 20px;
    width: 15px;
    height: 15px;
    background-color: yellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
    filter: blur(0.8px);
    font-size: 9px;
    font-weight: bold;
    color: blue;
    cursor: pointer;
    z-index: 999;
}

.circle:hover {
    background-color: #f0f0f0;
}

header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.title-image {
    width: 130px;
    height: 130px;
    margin-right: 20px;
    filter: blur(0.5px);
}

header h1 {
    font-family: Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: yellow;
    text-shadow: 2px 2px 0px black, 0 0 10px black, 0 0 20px black;
    filter: blur(1px);
    letter-spacing: 2px;
    position: relative;
    padding: 10px 40px;
    display: inline-block;
}

.oval-title {
    border: 5px solid black;
    border-radius: 50%;
    display: inline-block;
    padding: 30px 50px;
    text-align: center;
    background: linear-gradient(to right, white 65%, rgb(255, 69, 0) 100%);
}

.footer-container {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

.footer-bild {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 100%;
    filter: blur(1px);
    transform: translate(-50%, -50%);
    height: 100px;
    animation: moveAndRotate 50s linear infinite;
}

.footer-text {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 1rem;
    color: white;
    filter: blur(1px);
    text-shadow: 3px 3px 5px black;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    width: 100%;
}

/* Linke Hälfte für große Bilder */
.left-container {
    width: 50%;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: inset -2px 0px 5px rgba(0, 0, 0, 0.1);
}

.left-container img {
    width: 80%;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Rechte Hälfte für kleine Bilder */
.right-container {
    width: 50%;
    height: 100vh;
    overflow-x: auto;
    display: flex;
    align-items: center;
    padding: 20px;
    white-space: nowrap;
    box-shadow: inset 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.right-container img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Untertitel */
.sub-title {
    font-size:1.4rem;
    font-family: Arial, sans-serif; /* Arial Schriftart */
    font-weight: bold;
    color: yellow; /* Gelbe Schrift */
    text-shadow: 
        2px 2px 0px black, 
        0 0 10px black, 
        0 0 20px black; /* Starker verschwommener Effekt */
    filter: blur(1px); /* Teletext-ähnlicher Verschwommeneffekt */
    letter-spacing: 2px; /* Verpixelter Look */
    text-align: center;
    margin-top: 80px; /* Vierfacher Abstand */

    border: 3px solid black; /* Schwarzer Rahmen */
    border-radius: 0px; /* Optionale Abrundung der Ecken */
    padding: 20px; /* Abstand zwischen Text und Rahmen */
    display: inline-block; /* Passt die Breite des Rahmens an den Inhalt an */
    background-color: rgb(255,255,255); /* Halbtransparenter Hintergrund (optional) */

}

/* Wenn der Untertitel angeklickt wird, soll er zittern */
.sub-title.shake {
    animation: shake 0.5s ease-in-out; /* Dauer der Animation */
}

/* Footer-Bild */
.footer-container {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

.footer-bild {
    position: absolute;
    z-index: 999; /* Überlagert andere Inhalte */
    top: 50%;
    left: 100%;
    filter: blur(1px); /* Teletext-ähnlicher Verschwommeneffekt */
    transform: translate(-50%, -50%);
    height: 100px;
    animation: moveAndRotate 50s linear infinite;
}

.footer-text {
    font-family: Arial, sans-serif; /* Arial Schriftart */
    font-weight: normal; /* Kein fetter Text */
    font-size: 1rem; /* Standard-Schriftgröße */
    color: white; /* Weißer Text */
    filter: blur(1px); /* Teletext-ähnlicher Verschwommeneffekt */
    text-shadow: 3px 3px 5px black; /* Schwarzer Schatten */
    text-align: center; /* Zentrierter Text */
    margin: 20px 0; /* Abstand oben und unten */
    padding: 10px; /* Innerer Abstand */
    width: 100%; /* Breite auf den gesamten Bildschirm ausdehnen */
}

/* Animationen */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Definiere die Zittern-Animation */
@keyframes shake {
    0% { transform: translateX(0); }
    10% { transform: translateX(-5px); }
    20% { transform: translateX(5px); }
    30% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    50% { transform: translateX(-5px); }
    60% { transform: translateX(5px); }
    70% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    90% { transform: translateX(-5px); }
    100% { transform: translateX(5px); }
}

@keyframes moveAndRotate {
    0% {
        left: 100%;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        left: -100%;
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@font-face {
    font-family: 'terminal grotesque'; /* Name der Schriftart */
    src: url('fonts/terminal-grotesque-webfont.woff2') format('woff2'), /* Moderne Browser */
         url('fonts/terminal-grotesque-webfont.woff') format('woff'),
         url('fonts/terminal-grotesque-webfont.ttf') format('ttf');
    font-weight: normal; /* Optional: Gewicht der Schriftart */
    font-style: normal;  /* Optional: Stil der Schriftart */
}

@media (max-width: 750px) {
       }  
    
    header {
        flex-direction: column; /* Inhalte vertikal anordnen */
        overflow-x: hidden; /* Verhindert horizontales Scrollen */
        align-items: center;
    }

    .title-image {
        margin-bottom: 10px;
        align-items: center;
    }

    header h1 {
        font-size: 2rem;
        padding: 15px;
        align-items: center;
    }

    #editable-list li {
        filter: blur(0.8px); /* Teletext-ähnlicher Verschwommeneffekt */
        font-size: 1rem;
        margin: 15px 0;
        align-items: center;
    }

    .sub-title {
        font-size: 1.5rem;
        padding: 10px;
        align-items: center;
    }

    .footer-bild {
        height: 80px; /* Bildgröße verkleinern */
    }
}
